target/
*~
*.DS_Store
tmp/*
data/*
dependency-reduced-pom.xml
.classpath
NOTES
.idea/
.factorypath
.project
.settings/

node_modules
src/test/e2e/cypress/reports
src/test/e2e/cypress/videos
src/test/e2e/cypress/screenshots