name: "Keycloak magic-link build"

on:
    workflow_dispatch:
    push:
        branches:
            - "main"
            - "production"

concurrency:
    group: ${{ github.workflow }}-${{ github.ref_name }}
    cancel-in-progress: true

jobs:
    build:
        name: Build
        runs-on: [ self-hosted, java21 ]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Java 21
              run: |
                export JAVA_HOME=/usr/lib/jvm/bellsoft-java21-full-amd64
                export PATH=$JAVA_HOME/bin:$PATH
                echo "JAVA_HOME=$JAVA_HOME" >> $GITHUB_ENV
                echo "$JAVA_HOME/bin" >> $GITHUB_PATH
                echo "Java version being used:"
                java -version
                echo "Maven version being used:"
                mvn -version
            
            - name: Maven Build
              run: mvn clean package -Dmaven.repo.local=${{ github.workspace }}/.m2/repository
            
            - name: Upload jar to integration
              if: github.ref_name == 'main'
              run: |
                mc mb ostore/keycloak/integration --ignore-existing
                mc rm --recursive --force ostore/keycloak/integration/keycloak-magic-link- || true
                find . -path "*/target/keycloak-magic-link-*.jar" | xargs -I {} mc cp {} ostore/keycloak/integration/
            
            - name: Upload jar to production
              if: github.ref_name == 'production'
              run: |
                mc mb ostore/keycloak/production --ignore-existing
                mc rm --recursive --force ostore/keycloak/production/keycloak-magic-link- || true
                find . -path "*/target/keycloak-magic-link-*.jar" | xargs -I {} mc cp {} ostore/keycloak/production/
